ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
}

.nav{
    box-sizing: border-box;
    width: 240px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: unset;
    padding: 40px 30px;
    background: #f3f4f6;
}

.logo {
    font-size: 30px;;
}


.projects-list {
    margin-top: 30px;
    margin-bottom: 30px;
    height: calc(100% - 134px);
    overflow: hidden auto;
}

.projects-list ul li{
    padding: 0px;
    margin-bottom: 40px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    color: #373d4a;
    cursor: pointer;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    opacity: 1;
}

.projects-list ul li img {
    margin-right: 16px;
    width: 30px;
    vertical-align: middle;
}

.projects-list ul li svg {
    margin-right: 16px;
    width: 30px;
    vertical-align: middle;
}

.projects-list ul li span{
    color: #373d4a;
}

.projects-list ul li span.active {
    color: #525b69;
}

.projects-all {
    margin-right: 5px;
    margin-top: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.select-option {
    float: right;
    cursor: pointer;
}

.projects-all p {
    display: block;
    margin-block: 0px;
    margin-inline: 0px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    flex: 1 1 0%;
    text-align: left;
}

.project-left-icon {
    margin-right: 16px;
}

.projects-sub {
    list-style: none;
    display: block;
    margin-inline: 0px;
    padding-inline-start: 46px;
    margin-right: 5px;
}

.projects-sub .collapse {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.projects-sub .collapse li {
    margin: 0;
    padding: 0px;
    margin-top: 21px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #373d4a;
    cursor: pointer;
    list-style: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    opacity: 1;
}

.projects-sub .collapse li span{
    color: #373d4a;
}


.projects-sub .show {

}