.all {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 20px 40px;
}

.all .title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #333333;
    margin: 20px 0px 35px;
}